body{
    background-color: rgb(99, 14, 58);
}
h1 {
    text-align: center;

}


nav {
text-align: center;
margin-bottom: 20%;


}
section h2{
    text-align: left;
}

section {
    text-align: center;
}